@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
* {
  user-select: none;
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  background: #0a131e;
}

.monopoly-board {
  font-family: "Montserrat Alternates";
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #1F1F1F;
}

::-webkit-scrollbar-thumb {
  background: #BEB7B7;
  border-radius: 10px;
}

.line {
  height: 122px;
  width: 1px;
  /* background: #fff; */
  border-left: 1px dotted #fff;
  margin: 0 auto;
}
.line-right {
  height: 1px;
  width: 122px;
  /* background: #fff; */
  border-bottom: 1px dotted #fff;
  margin: 0 auto;
}
/* 
.line {
  height: 122px;
  width: 1px;
  background: repeating-linear-gradient(
    to bottom,
    white 0px, 
    white 5px,  
    transparent 5px, 
    transparent 12px  
  );
  margin: 0 auto;
} */

.h-line {
  border-bottom: 1px dotted #fff;
  margin: 0 auto;
}
.v-line {
  border-left: 1px dotted #fff;
  margin: 0 auto;
}

.bg-linear {
  background: linear-gradient(#131313, 0%, #060606, 100%);
}

.bg-monopoly-group-98 {
  background: #fff;
}

.bg-monopoly-group-99 {
  background: #262626;
}

.bg-monopoly-group-1 {
  background: #FF0000;
}

.bg-monopoly-group-1-opacity {
  background: #FF4A4A;
}

.bg-monopoly-group-2 {
  background: #262626;
}

.bg-monopoly-group-3 {
  background: #FF00AA;
}

.bg-monopoly-group-3-opacity {
  background: #FF4AC3;
}

.bg-monopoly-group-4 {
  background: #0066FF;
}

.bg-monopoly-group-4-opacity {
  background: #4A93FF;
}

.bg-monopoly-group-5 {
  background: #A100FF;
}

.bg-monopoly-group-5-opacity {
  background: #BD4AFF;
}

.bg-monopoly-group-6 {
  background: #BBFF00;
}

.bg-monopoly-group-6-opacity {
  background: #CFFF4A;
}

.bg-monopoly-group-7 {
  background: #FF7700;
}

.bg-monopoly-group-7-opacity {
  background: #FF9F4A;
}

.bg-monopoly-group-8 {
  background: #532DFF;
}

.bg-monopoly-group-8-opacity {
  background: #6B4AFF;
}

.bg-monopoly-group-9 {
  background: #FF4400;
}

.bg-monopoly-group-9-opacity {
  background: #FF6A34;
}

.bg-monopoly-group-10 {
  background: #00FFB7;
}

.bg-monopoly-group-10-opacity {
  background: #71FFD7;
}


.bg-blur {
  backdrop-filter: blur(5px);
  transition: all .2s ease-in-out;
}

.border-dot {
  border-style: dashed;
}

.bg-success {
  background: linear-gradient(90deg, rgba(3, 209, 105, .3), rgba(3, 209, 105, .6));
}

.bg-primary {

}


.bg-error {
  background: linear-gradient(90deg, rgba(229, 43, 72, .3), rgba(229, 43, 72, .6));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-blue {
  --from: #89f7fe;
  --to: #66a6ff;
  background-image: linear-gradient(90deg, var(--from, transparent), var(--to, transparent));
  color: #161628;
}

.rounded {
  border-radius: .75rem;
}

.bg-gradient-2 {
  background-image: linear-gradient(90deg, #323d60, #212842);
}

.navigation {
  background-color: #1e253d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.bg-gradient {
  --from: #89f7fe;
  --to: #66a6ff;
  background-image: linear-gradient(var(--angle, 0deg), var(--from, transparent) var(--from-offset, 0%), var(--to, transparent) var(--to-offset, 100%));
}

.navigation__tab {
  height: 4.25rem;
  gap: .75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: .625rem;
  text-transform: uppercase;
  color: #d6e2ff;
}

.navigation__active {
  --from: #89f7fe;
  --to: #66a6ff;
  border-radius: .875rem;
  background-image: linear-gradient(var(--angle, 0deg), var(--from, transparent) var(--from-offset, 0%), var(--to, transparent) var(--to-offset, 100%));
}

.icon {
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.w-13 {
  width: 3.25rem;
}

.h-13 {
  height: 3.25rem;
}
/* 
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937;
} */

.active {
  background-image: linear-gradient(var(--angle, 0deg), var(--from, transparent) var(--from-offset, 0%), var(--to, transparent) var(--to-offset, 100%));
}

/* .modal {
  --from: #232c48;
  --to: #1c233a;
  background-color: #1c233a;
  background-image: linear-gradient(var(--angle, 0deg), var(--from, transparent) var(--from-offset, 0%), var(--to, transparent) var(--to-offset, 100%));
  padding: 1.5rem 1rem 1rem;
} */
.title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3;
}
.wheel-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden; /* Hide slices going outside the circle */
  
}

.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%);
  transform-origin: center bottom;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
/* .animate-spin{
  animation: spin 5s linear infinite;
} */
.wheel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a; /* Dark background color */
  border-radius: 50%;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; /* Text color */
  text-align: center;
}

.wheel-center p{
   margin: 0;
}
.wheel-center .timer{
  font-size: 2em;
}


/* .triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fff; /* White triangle */


.bg-wheel-blue {
  background: #6495ed;
}
.bg-wheel-green {
  background: #90ee90;
}
.bg-wheel-yellow {
  background: #ffb84f;
}
.bg-wheel-purple {
  background: #ba55d3;
}

.wheel-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  transition: transform 0s linear;
}

.wheel.spinning {

}

.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip-path: polygon(50% 50%, 100% 0, 50% 0, 50% 0);  */
  clip-path: polygon(50% 50%, 100% 0, 100% 10%);
}


/* .wheel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #202933;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: #fff;
  font-size: 0.8rem;
} */

.timer {
font-size: 1.2rem;
}

.triangle {
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #fff;
}

.bg-wheel-blue {
  background-color: #6495ed;
}

.bg-wheel-green {
  background-color: #90ee90;
}

.bg-wheel-yellow {
  background-color: #ffb84f;
}

.bg-wheel-purple {
  background-color: #ba55d3;
}

.bg-player-red {
  background: #e05154;
}

.bg-player-grey {
  background: #8A8A8A;
}

.bg-player-purple {
  background: #A24AFF;
}

.bg-player-green {
  background: #4AFF6B;
}

.bg-player-red-opacity {
  background: #e05154;
}

.bg-player-grey-opacity {
  background: #8A8A8A;
}

.bg-player-purple-opacity {
  background: #A24AFF;
}

.bg-player-green-opacity {
  background: #4AFF6B;
}

.color-player-red {
  color: #e05154;
}

.color-player-grey {
  color: #8A8A8A;
}

.color-player-purple {
  color: #A24AFF;
}

.color-player-green {
  background: #4AFF6B;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 99;
}
.bg-radial {
  background: radial-gradient(circle, #141414 0%, #232323 99%);
}